.container {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --primary-color: #6248FF;
    --primary-text: 'Museo Sans 500 Medium', sans-serif;
    --secondary-text: 'Museo Sans 700 Bold', sans-serif;
}

@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.none{
    display: none;
}

/***************      section header        *****************/

a {
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    line-height: 16px;
    align-items: center;
    display: flex;
}

.logo {
    font-family: var(--secondary-text);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
}

.header-nav {
    display: flex;
    align-items: center;
    font-family: 'Museo Sans Cyrl', sans-serif;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header-list {
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    margin-left: 57px;
    width: 574px;
}

.header-info {
    transform: translateX(60px);
    display: flex;
    align-items: center;
}

.header-item {
    margin: 32px 0;
    font-family: var(--primary-text);
}

.button {
    border-radius: 60px;
    background: var(--primary-color);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--primary-text);
    border: none;
    max-width: 167px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding: 13px 24px;
}

/*.button:hover {*/
/*    background: #7181FC;*/
/*}*/

.header-language {
    width: 80px;
    height: 40px;
    border-radius: 60px;
    border: solid 1px #000000;
    margin-right: 22px;
}

select {
    padding: 0 10px;
    border: none;
    width: 60px;
    height: 40px;
    margin-right: 32px;
    font-size: 15px;
    line-height: 16px;
    background: transparent;
    font-family: var(--primary-text);
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.header-language img {
    position: absolute;
    top: 45%;
    left: 18%;
}

/*************************       section trade         ***************/
.trade {
    background: rgba(98, 72, 255, .1);
}

h1 {
    font-size: 64px;
    line-height: 72px;
    width: 585px;
    font-family: var(--primary-text);
    color: #333333;
}

.trade-capture {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 483px;
    margin: 32px 0 48px;
}

.trade-block {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 106px;
}

.trade-info {
    margin-top: 39px;
}

.trade-info .button {
    font-size: 16px;
    font-family: var(--primary-text);
    max-width: 257px;
    height: 54px;
    width: 100%;
}

/****************   section   getting   *************/

.getting-blog {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-right: 102px;
    justify-content: space-between;
}

.blog-card {
    width: calc((100% / 2) - 68px);
    margin-bottom: 120px;
    position: relative;
}

.blog-card.c{
    margin-top: 160px;
}

.blog-card.b{
    margin-top: -180px;
}

.blog-card.d{
    margin-bottom: 0;
}

.card-block {
    width: 100%;
    border: 2px solid #6248FF;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    background: white;
}

.getting-content {
    padding-right: 102px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    font-family: var(--primary-text);
    font-size: 56px;
    line-height: 66px;
    width: 483px;
    padding-top: 140px;
    padding-bottom: 60px;
    letter-spacing: 1.1px;
}

span.a {
    background: rgba(98, 72, 255, .1);
}

.span-width {
    background: rgba(98, 72, 255, .1);
    padding-right: 202px;
}

.getting-capture {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
}

.getting-block {
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    width: 483px;
}

h4 {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 18px;
    color: var(--primary-color);
    padding-top: 32px;
    padding-left: 32px;
}

h3 {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 32px;
}

.dotted {
    border: 3px dotted var(--primary-color);
    border-left: transparent;
    border-bottom: transparent;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
}

.getting-block.dotted.a{
    top: 23%;
    left: 78.5%;
    height: 50%;
    width: 100%;
}

.getting-block.dotted.c{
    top: 124%;
    right: 49.5%;
    height: 100%;
    width: 100%;
}

.getting-content .getting-block:nth-child(2) {
    margin-top: 155px;
}

.getting-main{
    max-width: 485px;
    width: 100%;
}

.getting-block.dotted.d {
    transform: scaleX(-1);
    position: absolute;
    top: -21.5%;
    left: 50.6%;
    height: 50%;
    width: 100%;
}

.getting-main.b{
    margin-top: -56px;
}

.getting-content .dotted:nth-child(4) {
    transform: scaleX(-1);
    position: absolute;
    top: 25.5%;
    left: 29.6%;
    height: 69.5px;
}

.getting-main:nth-child(2) {
    margin-top: -70px;
}

.getting-main:nth-child(4) {
    margin-top: 128px;
}

.getting-main .dotted:nth-child(3) {
    position: absolute;
    top: 17.5%;
    left: 19.6%;
    height: 69.5px;
}

.type .dotted {
    position: absolute;
    top: 39.5%;
    left: 40.5%;
    height: 69.5px;
}

/******************    section people    *************/

.people h2 {
    padding-bottom: 45px;
}

.people-slider {
    width: 112px;
    display: flex;
    justify-content: space-between;
}

.fa-angle-right, .fa-angle-left{
    cursor: pointer;
    position: relative;
    color: #000000;;
    font-size: 14px;
    outline: 2px solid var(--primary-color);
    padding: 18px 20px;
    border-radius: 50%;
}

.fa-angle-right:hover::after,
.fa-angle-right:hover::before{
    content: '';
    position: absolute;
    border: 3px solid var(--primary-color);
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    border-radius: 50%;
    animation: fa-angle-right 1.8s linear infinite;
}

.fa-angle-left:hover::after,
.fa-angle-left:hover::before{
    content: '';
    position: absolute;
    border: 3px solid var(--primary-color);
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: fa-angle-left 1.8s linear infinite;
}

@keyframes fa-angle-right {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}

.fa-angle-right:hover::after{
    animation-delay: 0.5s;
}

@keyframes fa-angle-left {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }

}

.fa-angle-left:hover::after{
    animation-delay: 0.5s;
}

.people-wrapper {
    display: flex;
    justify-content: space-between;
}

.people-description {
    display: flex;
    align-items: center;
}

.people-subtitle p:first-child {
    font-family: var(--primary-text);
    font-size: 18px;
    line-height: 30px;
}

.people-subtitle p:nth-child(2) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.people-subtitle {
    margin-left: 30px;
}

.people-text {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 17px;
    width: 576px;
    letter-spacing: 0.16px;
}

.tab-item {
    display: flex;
    margin-top: 167px;
}

.people-description img{
    width: 73px;
    height: 73px;
    transition: ease 1s;
}

.heading-comma {
    margin-right: 15px;
    transform: translateY(-23px);
}

.people-data {
    margin-top: 31px;
    color: #4F62F6;
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 18px;
}

.dn {
    display: none;
}

.tab-item.tab-item.none{
    display: none;
}

.tab-item.tab-item.active {
    border-color: black;
    bottom: 12px;
    box-shadow: 0 1px 10px #4dc247;
}

/*************  section frequently  *************/

.frequently-accordion {
    padding: 0 102px;
}

.frequently-box span {
    background: rgba(98, 72, 255, .1);
    padding-right: 10px;
}

.accordion-item {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    padding: 31.5px 40px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.accordion-item:last-child {
    margin-bottom: 140px;
}

.accordion-title::before {
    position: absolute;
    display: block;
    content: "+";
    right: 0.5%;
    font-size: 30px;
    cursor: pointer;
}

.accordion-title.active::before {
    transform: rotate(45deg);
}

.accordion-item p:nth-child(1) {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.3px;
    position: relative;
}

.content {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 750px;
    padding-top: 24px;
    transition: 0.7s ease;
    overflow: hidden;
    max-height: 0;
}

/******************     section  contact    **********/

.contact {
    background: rgba(98, 72, 255, .08);
}

.contact h2 {
    padding-top: 120px;
    color: #333333;
    padding-bottom: 0;
}

.contact-aside p:nth-of-type(1) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 483px;
    padding-top: 32px;
    padding-bottom: 48px;
    color: #4F4F4F;
}

.contact-aside p:nth-of-type(2) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding-bottom: 24px;
}

.contact-aside p:nth-of-type(4) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding-bottom: 16px;
}

.contact-aside p:nth-of-type(6) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding-bottom: 16px;
}

.contact-aside p:nth-of-type(8) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    width: 483px;
}

.contact-aside p:nth-of-type(3) {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 8px;
    color: #333333;
}

.contact-aside p:nth-of-type(5) {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 8px;
    color: #333333;
}

.contact-aside p:nth-of-type(7) {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 8px;
    color: #333333;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.form-block {
    padding: 80px 70px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin: 134px 0;
    background: #FFFFFF;
}

input {
    height: 40px;
    margin-bottom: 21px;
    display: block;
    width: 425px;
    border: 1px solid #E0E0E0;
    padding-left: 16px;
    color: #828282;
    border-radius: 3px;
}

input::placeholder {
    color: #828282;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

textarea {
    width: 100%;
    height: 89px;
    padding: 6px 16px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    background: #FFFFFF;
    font-size: 16px;
    resize: none;
    margin-bottom: 38px;
    color: #828282;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-align: start;
}

textarea::placeholder {
    text-align: start;
}

textarea:focus {
    outline: none !important;
    border: 1px solid #828282;
    border-radius: 3px;
}

input:focus {
    outline: none !important;
    border: 1px solid #828282;
    border-radius: 3px;
}

.input-box{
    position: relative;
}

.form-block button {
    text-transform: uppercase;
    color: #828282;
    font-family: var(--primary-text);
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    border: none;
    background: #E0E0E0;
    border-radius: 60px;
    cursor: pointer;
    margin: 0 auto;
    height: 54px;
    display: block;
    max-width: 172px;
    width: 100%;
}

button.open{
    color: #FFFFFF;
    background: var(--primary-color);
}

input.valid{
    border : 1.8px solid #0EAC00;
}

input.inValid{
    border: 1.8px solid #EB5757;
}

.error-label{
    color: red;
    position: absolute;
    bottom: -39%;
    left: 1%;
    font-size: 18px;

}



/********************   footer   ***********/

.footer-block {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 48px;
}

.block-info {
    display: flex;
    justify-content: space-between;
}

.block-info div:nth-child(1) {
    margin-right: 30px;
}

.block-aside .logo {
    color: #000000;
    width: 45px;
}

.footer-title {
    font-family: var(--primary-text);
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 16px;
    letter-spacing: 0.2px;
}

.footer-description {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    width: 380px;
}

.footer-info {
    margin-left: 95px;
}

.footer-info p {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 24px;
    letter-spacing: 0.2px;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.down-box {
    display: flex;
    justify-content: space-between;
    width: 790px;
}

.footer-down p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #828282;
}

.header-burger {
    display: none;
}

/*************  768px  **************/

@media (max-width: 768px) {

    /*************   section  header 768px   **********/
    .header-info {
        padding: 0 43px;
        transform: translateX(0);
        margin-left: auto;
    }

    .button {
        margin: 20px 0;
    }

    .logo {
        display: none;
    }

    .header-list {
        display: none;
    }

    .header-language {
        display: none;
    }

    .header-burger {
        display: block;
        width: 18px;
        height: 12px;
        cursor: pointer;
        position: relative;
        margin-left: 51px;
    }

    .header-burger:hover::before,
    .header-burger:hover::after,
    .header-burger:hover span {
        background: black;
    }

    .header-burger span,
    .header-burger::before,
    .header-burger::after {
        position: absolute;
        width: 18px;
        height: 2px;
        transition: all 0.3s ease 0s;
        background-color: #333333;;
        left: 0;
    }

    .header-burger::before,
    .header-burger::after {
        content: '';
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger::after {
        bottom: 0;
    }

    .header-burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%)
    }

    .header-burger._active span {
        transform: scale(0) translate(0px, -50%)
    }

    .header-burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%)
    }

    .header-burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%)
    }

    /******************************************   section  trade 768px   **********/
    .trade-block {
        display: block;
        padding: 0 40px;
        text-align: center;
    }

    .trade-info {
        margin-top: 0;
    }

    h1 {
        width: 100%;
        letter-spacing: 0.75px;
        margin-left: -4px;
        padding-top: 40px;
    }

    .trade-capture {
        width: 100%;
        margin: 0 auto;
        padding-top: 32px;
    }

    .trade-info .button {
        margin-top: 48px;
    }

    .info-box {
        padding: 0 90px;
        margin: 0 auto;
    }

    .trade-block img {
        width: 100%;
        padding-top: 5px;
        margin-bottom: 24px;
        max-width: 418px;
    }

    h2 {
        padding: 120px 40px 56px 40px;
        width: 419px;
    }

    /****************************************************   section  getting 768px   **********/
    .getting-title span.b, .getting-title span.a {
        letter-spacing: 0.1px;
        background: linear-gradient(to bottom, white 55%, rgba(98, 72, 255, .1) 45%)
    }

    .getting-content {
        padding: 0 40px;
        flex-wrap: wrap;
    }

    .getting-blog{
        padding: 0 40px;
    }

    .blog-card {
        width: calc((100% / 2) - 2%);
        margin-bottom: 116px;
    }

    .blog-card.b {
        margin-top: -190px;
    }

    .blog-card.c {
        margin-top: 170px;
    }

    h3{
        padding-right: 32px;
    }

    .getting-block {
        width: 325px;
        height: 230px;
    }

    .getting-block.dotted.a {
        top: 26%;
        left: 58.5%;
        height: 50%;
        width: 100%;
    }

    .getting-block.dotted.c{
        top: 121%;
    }

    .getting-main{
        max-width: 329px;
        width: 100%;
    }

    .getting-main.b{
        margin-top: -75px;
    }

    .getting-block.b {
        height: 260px;
    }

    .getting-block.c {
        height: 260px;
    }

    .getting-block.d {
        height: 293px;
        margin-top: -10px;
    }

    .getting-block.dotted.d {
        height: 50%;
        left: 48%;
        top: -13.5%;
    }

    /********************************************************   section  people 760px   **********/
    .people-text {
        width: 100%;
        margin: 0 auto;
        padding-top: 59px;
    }

    .people-wrapper {
        display: block;
        text-align: center;
        padding: 0 40px;
    }

    .tab-item {
        display: block;
        margin-top: -75px;
    }

    .heading-comma {
        margin-right: 0;
        transform: translateY(190px);
    }

    .people-description {
        display: block;
    }

    .people-subtitle {
        margin-left: 0;
    }

    .people-subtitle p:nth-child(1) {
        padding-top: 10px;
    }

    .people-wrapper h2 {
        padding-left: 0;
        text-align: start;
        letter-spacing: 0.2px;
        padding-right: 0;
    }

    .people-title {
        padding-right: 179px;
    }

    .span-width {
        background: rgba(98, 72, 255, .1);
        padding-right: 10px;
    }

    .people-slider {
        width: 100%;
        transform: translateY(165px);
    }

    .heading-box {
        padding: 0 90px;
    }

    /***************************************************************   section  frequently 760px   **********/
    .frequently-box {
        padding-right: 179px;
    }

    .frequently-box h2 {
        width: 100%;
        letter-spacing: 0.3px;
    }

    .frequently-accordion {
        padding: 0 40px;
    }

    .accordion-open {
        padding-right: 90px;
    }

    .accordion-item p:nth-child(2) {
        width: 100%;
    }

    .accordion-item p:first-child::before {
        right: 1%;
    }

    /******************************************************   section  contact 760px   **********/
    .contact {
        padding-bottom: 1px;
    }

    .contact-content {
        display: block;
        margin-top: -20px;
    }

    .contact-box {
        margin: 0 auto;
    }

    .contact-box h2 {
        width: 100%;
        padding-left: 0;
    }

    .contact-aside h2 {
        text-align: center;
        padding-top: 45px;
    }

    .contact-aside {
        padding: 0 130px;
    }

    .contact-aside p:nth-of-type(1) {
        width: 100%;
        padding-bottom: 30px;
    }

    .contact-aside p:nth-of-type(8) {
        width: 100%;
    }

    .contact-form {
        padding: 0 130px;
    }

    .input-box {
        padding-right: 20px;
        position: relative;
    }

    input {
        width: 100%;
    }

    .form-block {
        margin: 50px 0;
    }

    .button-box button {

    }

    /******************************************************   section  footer 760px   **********/
    .footer-block {
        display: block;
    }

    .block-aside .logo {
        display: block;
        margin: 0 auto;
    }

    .block-aside {
        padding: 0 130px;
    }

    .aside-box {
        padding: 0 231px;
    }

    .aside-box .logo {
        width: 100%;
        padding-top: 30px;
    }

    .block-info div:nth-child(1) {
        order: 2;
    }

    .block-info div:nth-child(2) {
        order: 3;
        padding: 0 130px;
        margin-top: 32px;
    }

    .footer-info {
        order: 1;
        margin-left: 0;
        display: flex;
        padding: 0 40px;
        justify-content: space-between;
        margin-top: 54px;
        margin-bottom: 15px;
    }

    .block-info {
        flex-direction: column;
    }

    .block-info div:nth-child(1) {
        padding: 0 130px;
    }

    .block-info div:nth-child(1) {
        margin-right: 0;
    }

    .footer-title {
        text-align: center;
    }

    .footer-description {
        width: 100%;
    }

    .footer-down {
        padding: 0 130px;
        flex-direction: column;
        margin-top: -5px;
    }

    .footer-down p:nth-child(1) {
        text-align: center;
    }

    .down-box {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .down-box p:nth-child(2), .down-box p:nth-child(3), .down-box p:nth-child(4) {
        margin-top: 15px;
    }

    .footer-block {
        margin-top: 60px;
    }

    .dot{
        max-width: 193px;
        width: 100%;
    }
}

@media (min-width: 321px) and (max-width: 479px){
    h2{
        font-size: 42px;
        line-height: 52px;
        width: 318px;
    }

    h1{
        font-size: 52px;
        line-height: 58px;
    }

    .info-box{
        padding: 0 40px;
    }

    .dotted{
        display: none;
    }

    .blog-card.b {
        margin-top: -95px;
        margin-bottom: 20px;
    }

    .blog-card.c {
        margin-top: -95px;
    }

    .blog-card{
        width: 100%;
    }

    .contact-aside{
        padding: 0 40px;
    }

    .contact-form{
        padding: 0 40px;
    }

    .form-block{
        padding: 64px 28px;
    }

    .block-info div:nth-child(1) {
        padding: 0 40px;
    }

    .block-info div:nth-child(2){
        padding: 0 40px;
    }

    .footer-down{
        padding: 0 40px;
    }

    .footer-info{
        flex-direction: column;
    }

    .accordion-open{
        padding: 0 40px;
    }

    .accordion-item p:nth-child(1){
        font-size: 18px;
        line-height: 21.6px;
    }

    .accordion-item p:first-child::before{
        right: -5%;
    }
}

@media (max-width: 320px) {
    .logo {
        display: block;
    }

    .button {
        display: none;
    }

    .header-nav {
        padding: 30px 20px 34px 20px;
    }

    .header-info {
        padding-right: 3px;
    }

    h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .trade-block {
        text-align: start;
        padding: 0 25px;
        margin-top: -10px;
    }

    .info-box {
        padding: 0;
        margin-top: -7px;
        margin-left: -4px;
    }

    .info-box .button {
        display: block;
        margin-top: 32px;
        width: 100%;
        max-width: 280px;
    }

    .trade-box {
        padding: 0 15px;
    }

    .trade-box img {
        max-width: 280px;
        width: 100%;
        margin-top: 30px;
    }

    .span-width {
        background: rgba(98, 72, 255, .1);
        padding-right: 70px;
    }

    .getting-title span.a {
        letter-spacing: 0.1px;
        background: rgba(98, 72, 255, .1);
        padding-right: 10px;
    }

     .getting-title span.b {
        letter-spacing: 0.1px;
        background: white;
    }

    .getting-box h2 {
        font-size: 40px;
        line-height: 44px;
        padding: 0 20px;
        width: 260px;
    }

    .getting-box {
        margin-top: 90px;
        margin-bottom: 40px;
    }

    .getting-blog {
        padding: 0 20px;
    }

    .blog-card{
        width: 100%;
    }

    .blog-card.c {
        margin-top: 0;
    }

    .blog-card.b {
        margin-top: -95px;
    }

    .dotted {
        display: none;
    }

    h4{
        padding-top: 24px;
        padding-left: 24px;
    }

    .card-block h3 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .getting-capture{
        padding: 0 24px 24px;
    }

    .blog-card.c {
        margin-top: -95px;
    }

    .blog-card.d{
        margin-top: -95px;
    }

    h2 {
        font-size: 40px;
        line-height: 44px;
        width: 100%;
    }

    .people-wrapper {
        padding: 0 20px;
        margin-top: -42px;
    }

    .people-title{
        padding-right: 0;
    }

    .tab-item{
        margin-top: -86px;
    }

    .heading-box{
        padding: 0;
    }

    .people-subtitle{
        margin-top: -5px;
    }

    .people-text{
        margin-top: 15px;
    }

    .people-data{
        margin-top: 40px;
    }

    .people-slider{
        transform: translateY(462px);
    }

    .span-word{
        background: rgba(98, 72, 255, .1);
    }

    .span-width {
        background: rgba(98, 72, 255, .1);
        padding-right: 75px;
    }

    .frequently-box{
        margin-top: -20px;
    }

    .frequently-box h2{
        padding-top: 120px;
        padding-left: 20px;
    }

    .frequently-accordion{
        padding: 0 20px;
        margin-top: -20px;
    }


    .accordion-item p:nth-child(1){
        font-size: 18px;
        line-height: 21.6px;
    }

    .accordion-item{
        padding: 24px 16px;
    }

    .accordion-open p:nth-child(1){
        padding-right: 75px;
        letter-spacing: 0.1px;
    }

    .accordion-title::before{
        right: 7.5%;
        top: 26%;
    }

    .accordion-open{
        padding-right: 0;
        padding-left: 16px;
        padding-top: 25px;
    }

    .accordion-open p:nth-child(2){
        letter-spacing: 0.65px;
        margin-bottom: -5px;
    }

    /********************   section  contact 320px  *******************/

    .contact-aside{
        padding: 0 20px;
    }
    
    .contact-aside h2{
        text-align: start;
        letter-spacing: 0.1px;
    }

    .contact-content{
        margin-top: -54px;
    }

    .contact-box{
        margin-top: -8px;
    }

    .contact-aside p:nth-of-type(1){
        margin-top: -8px;
    }

    .contact-aside p:nth-of-type(2){
        padding-bottom: 12px;
    }

    .contact-form{
        padding: 0 20px;
    }

    .form-block{
        padding: 48px 16px;
    }

    /**********************  footer  320px  ***************************/

    .footer-block{
        margin-top: 45px;
    }

    .footer-info{
        display: block;
        padding: 0 20px;
        margin-top: 45px;
    }

    .footer-info p{
        margin-bottom: 32px;
    }

    .block-info div:nth-child(1){
        padding: 0 20px;
        margin-top: -15px;
    }
    
    .footer-title{
        text-align: start;
    }

    .block-info div:nth-child(2){
        padding: 0 20px;
    }

    .block-info div:nth-child(2){
        margin-top: 25px;
    }

    .footer-down{
        padding: 0;
    }

    .footer-down{
        margin-top: -15px;
    }
}

.tabs{
    display: none;
}

.people-description img:hover {
    transform: scale(1.15);
    transition: 1s;
    cursor: pointer;
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    border-radius:150%;
}




