.container {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --primary-color: #6248FF;
    --primary-text: 'Museo Sans 500 Medium', sans-serif;
    --secondary-text: 'Museo Sans 700 Bold', sans-serif;
}


@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/***************      section header        *****************/

a {
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    line-height: 16px;
    align-items: center;
    display: flex;
}

.logo {
    font-family: var(--secondary-text);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
}

.header-nav {
    display: flex;
    align-items: center;
    font-family: 'Museo Sans Cyrl', sans-serif;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header-list {
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    margin-left: 57px;
    width: 574px;
}

.header-info {
    transform: translateX(60px);
    display: flex;
    align-items: center;
}

.header-item {
    margin: 32px 0;
    font-family: var(--primary-text);
}

.button {
    padding: 13px 24px;
    border-radius: 60px;
    background: var(--primary-color);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--primary-text);
}

.button:hover {
    background: #7181FC;
}

.header-language{
    width: 80px;
    height: 40px;
    border-radius: 60px;
    border: solid 1px #000000;
    margin-right: 22px;
}
select {
    padding: 0 8px;
    border: none;
    width: 60px;
    height: 40px;
    margin-right: 32px;
    font-size: 15px;
    line-height: 16px;
    background: transparent;
    font-family: var(--primary-text);
}

/*************************       section trade         ***************/
.trade {
    background: rgba(98, 72, 255, .1);
}

h1 {
    font-size: 64px;
    line-height: 72px;
    width: 585px;
    font-family: var(--primary-text);
    color: #333333;
}

.trade-capture {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 483px;
    margin: 32px 0 48px;
}

.trade-block {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 106px;
}

.trade-info {
    padding-top: 39px;
}

.trade-info .button {
    padding: 20px 64px;
    font-size: 16px;
    font-family: var(--primary-text);
}


/****************   section   getting   *************/

.getting-content {
    padding-right: 102px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: var(--primary-text);
    font-size: 56px;
    line-height: 66px;
    width: 483px;
    padding-top: 140px;
    padding-bottom: 60px;
    letter-spacing: 1.1px;
}

span {
    background: rgba(98, 72, 255, .1);
}

.getting-capture {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 419px;
    padding-left: 32px;
    padding-bottom: 32px;
}

.getting-block {
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    width: 483px;
}

h4 {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 18px;
    color: var(--primary-color);
    padding-top: 32px;
    padding-left: 32px;
}

h3 {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 32px;
}

.dotted {
    border: 3px dotted var(--primary-color);
    width: 374px;
    height: 69.5px;
    border-left: transparent;
    border-bottom: transparent;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    top: -9%;
    left: 40.5%;
}

.getting-content .getting-block:nth-child(2) {
    margin-top: 155px;
}

.getting-main .dotted:nth-child(1) {
    transform: scaleX(-1);
    position: absolute;
    top: 35.5%;
    left: 19.6%;
    height: 69.5px;
}

.getting-content .dotted:nth-child(4) {
    transform: scaleX(-1);
    position: absolute;
    top: 25.5%;
    left: 29.6%;
    height: 69.5px;
}

.getting-main:nth-child(2) {
    margin-top: 134px;
}

.getting-main:nth-child(4) {
    margin-top: 128px;
}

.getting-main .dotted:nth-child(3) {
    position: absolute;
    top: 17.5%;
    left: 19.6%;
    height: 69.5px;
}

.type .dotted {
    position: absolute;
    top: 39.5%;
    left: 40.5%;
    height: 69.5px;
}

/******************    section people    *************/

.people h2 {
    padding-bottom: 45px;
}

.people-slider {
    width: 112px;
    display: flex;
    justify-content: space-between;
}

.slider-symbol {
    padding: 18px 20px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

.people-slider .slider-symbol:nth-child(2) {
    border: 1px solid var(--primary-color);
}

.people-wrapper {
    display: flex;
    justify-content: space-between;
}

.people-description {
    display: flex;
    align-items: center;
}

.people-subtitle p:first-child {
    font-family: var(--primary-text);
    font-size: 18px;
    line-height: 30px;
}

.people-subtitle p:nth-child(2) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.people-subtitle {
    margin-left: 30px;
}

.people-text {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 17px;
    width: 576px;
    letter-spacing: 0.16px;
}

.people-heading {
    display: flex;
    margin-top: 167px;
}

.heading-comma {
    margin-right: 15px;
    transform: translateY(-23px);
}

.people-data {
    margin-top: 31px;
    color: #4F62F6;
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 18px;
}

/*************  section frequently  *************/

.frequently-accordion {
    padding: 0 102px;
}

.accordion-close {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    padding: 33.5px 40px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin-bottom: 12px;
}

.accordion-close:last-child {
    margin-bottom: 140px;
}

.accordion-close::before {
    position: absolute;
    display: block;
    content: "+";
    right: 20.5%;
    font-size: 30px;
}

.accordion-open {
    padding: 32px 40px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin-bottom: 12px;
}

.accordion-open p:first-child::before {
    position: absolute;
    display: block;
    content: "+";
    right: 20.5%;
    transform: rotate(45deg);
    font-size: 30px;
}

.accordion-open p:nth-child(1) {
    font-family: var(--primary-text);
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.3px;
}

.accordion-open p:nth-child(2) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 750px;
    padding-top: 24px;
}

/******************     section  contact    **********/

.contact {
    background: rgba(98, 72, 255, .08);
}

.contact h2 {
    padding-top: 120px;
    color: #333333;
    padding-bottom: 0;
}

.contact-aside p:nth-of-type(1) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 483px;
    padding-top: 32px;
    padding-bottom: 48px;
    color: #4F4F4F;
}

.contact-aside p:nth-of-type(2) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding-bottom: 24px;
}

.contact-aside p:nth-of-type(4) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding-bottom: 16px;
}

.contact-aside p:nth-of-type(6) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding-bottom: 16px;
}

.contact-aside p:nth-of-type(8) {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    width: 483px;
}

.contact-aside p:nth-of-type(3) {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 8px;
    color: #333333;
}

.contact-aside p:nth-of-type(5) {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 8px;
    color: #333333;
}

.contact-aside p:nth-of-type(7) {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 8px;
    color: #333333;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.form-block {
    padding: 80px 70px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin: 134px 0;
    background: #FFFFFF;
}

input {
    height: 40px;
    margin-bottom: 21px;
    display: block;
    width: 425px;
    border: 1px solid #E0E0E0;
    padding-left: 16px;
    color: #828282;
    border-radius: 3px;
}

input::placeholder {
    color: #828282;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

textarea {
    width: 100%;
    height: 89px;
    padding: 6px 16px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    background: #FFFFFF;
    font-size: 16px;
    resize: none;
    margin-bottom: 38px;
    color: #828282;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-align: start;
}

textarea::placeholder {
    text-align: start;
}

textarea:focus {
    outline: none !important;
    border: 1px solid #828282;
    border-radius: 3px;
}

input:focus {
    outline: none !important;
    border: 1px solid #828282;
    border-radius: 3px;
}

.form-block button {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: var(--primary-text);
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    border: none;
    padding: 20px 64px;
    background: var(--primary-color);
    border-radius: 60px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

/*.input.error{*/
/*    border: 1.6px solid #EB5757;*/
/*}*/

/********************   footer   ***********/

.footer-block {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 48px;
}

.block-aside {
    width: 585px;
    display: flex;
    justify-content: space-between;
}

.block-info {
    width: 585px;
    display: flex;
    justify-content: space-between;
}

.block-aside .logo {
    color: #000000;
    width: 45px;
}

.footer-title {
    font-family: var(--primary-text);
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 16px;
    letter-spacing: 0.2px;
}

.footer-description {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    width: 380px;
}

.footer-info p {
    font-family: var(--primary-text);
    font-size: 15px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 24px;
    letter-spacing: 0.2px;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.down-box {
    display: flex;
    justify-content: space-between;
    width: 790px;
}

.footer-down p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #828282;
}

.header-burger{
    display: none;
}

/*************  768px  **************/

@media  (max-width: 768px) {
    .header-info{
        padding: 0 43px;
        transform: translateX(0);
        margin-left: auto;
    }

    .button{
        margin: 20px 0;
    }

    .logo{
        display: none;
    }

    .header-list{
        display: none;
    }

    .header-language{
        display: none;
    }


    .header-burger {
        display: block;
        width: 18px;
        height: 12px;
        cursor: pointer;
        position: relative;
        margin-left: 51px;
    }


    .header-burger:hover::before,
    .header-burger:hover::after,
    .header-burger:hover span {
        background: black;
    }

    .header-burger span,
    .header-burger::before,
    .header-burger::after {
        position: absolute;
        width: 100%;
        height: 12%;
        transition: all 0.3s ease 0s;
        background-color: #333333;;
        left: 0;
    }

    .header-burger::before,
    .header-burger::after {
        content: '';
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger::after {
        bottom: 0;
    }

    .header-burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%)
    }

    .header-burger._active span {
        transform: scale(0) translate(0px, -50%)
    }

    .header-burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%)
    }

    .header-burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%)
    }



    .trade-block{
        display: block;
        padding: 0 40px;
        text-align: center;
    }

    h1{
        width: 100%;
        letter-spacing: 0.75px;
        margin-left: -4px;
    }

    .trade-capture{
        width: 508px;
        margin: 0 auto;
        padding-top: 32px;
    }

    .trade-info .button{
        margin-top: 48px;
    }

    .trade-block img{
        width: 418px;
        height: 450px;
        padding-top: 5px;
        margin-bottom: 24px;
    }

    h2{
        padding: 120px 40px 56px 40px;
        width: 419px;
    }

    h2 span{
        letter-spacing: 0.1px;
    }

    .getting-content{
        padding: 0 40px;
    }

    .getting-block{
        width: 325px;
        height: 230px;
    }

    .getting-capture{
        width: 265px;
    }
}


